<section class="page-content">
    <div class="info">
        <div class="info-name">
            <img src="" onerror="this.src='/assets/images/nft/default-logo.png'" alt="">
            My Crypto Heroes
        </div>
        <p class="title">{{ 'Overview' | translate: lang }}</p>
        <div class="address">
            <div class="address-item left">
                <span class="name">{{ 'Official site' | translate: lang }}</span>
                <a href="https://www.cryptokitties.co/" target="_blank" class="value">https://www.cryptokitties.co/ </a>
            </div>
            <div class="address-item right">
                <span class="name">{{ 'Social profiles' | translate: lang }}</span>
                <div class="value">
                    <a href="javascript:;">
                        <img src="/assets/images/nft/email.png" alt="">
                    </a>
                    <a href="javascript:;">
                        <img src="/assets/images/nft/reddit.png" alt="">
                    </a>
                    <a href="javascript:;">
                        <img src="/assets/images/nft/twitter.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="desc">
            My Crypto Heroes (MCH) is an auto-battle game for smartphones and PC. MCH has a complex turn based battle
            mechanic, featuring PvE and PvP battles.
            Pick your heroes, level them up, and battle against other players and monsters for items. Players join one
            of 9 lands and fight for glory!
        </div>
    </div>
    <div class="nfts">
        <p class="title">{{ 'Explore NFTs' | translate: lang }}</p>
        <div class="nft-group">
            <div class="nft-item" routerLink="/tokens-nft/token">
                <div class="info">
                    <p class="info-name">CryptoKitties</p>
                    <div class="count">
                        <div class="count-item">
                            <p class="value">{{ 1922333324140 | number }}</p>
                            <p class="name">{{ 'Transfers' | translate: lang }}</p>
                        </div>
                        <div class="count-item">
                            <p class="value">{{ 19222222224140 | number }}</p>
                            <p class="name">{{ 'Holders' | translate: lang }}</p>
                        </div>
                    </div>
                </div>
                <img src="" onerror="this.src='/assets/images/nft/default-logo.png'" alt="">
            </div>
            <div class="nft-item" routerLink="/tokens-nft/nft">
                <div class="info">
                    <p class="info-name">CryptoKitties</p>
                    <div class="count">
                        <div class="count-item">
                            <p class="value">{{ 1924140 | number }}</p>
                            <p class="name">{{ 'Transfers' | translate: lang }}</p>
                        </div>
                        <div class="count-item">
                            <p class="value">{{ 1924140 | number }}</p>
                            <p class="name">{{ 'Holders' | translate: lang }}</p>
                        </div>
                    </div>
                </div>
                <img src="" onerror="this.src='/assets/images/nft/default-logo.png'" alt="">
            </div>
            <div class="nft-item" routerLink="/tokens-nft/nft">
                <div class="info">
                    <p class="info-name">CryptoKitties</p>
                    <div class="count">
                        <div class="count-item">
                            <p class="value">{{ 1924140 | number }}</p>
                            <p class="name">{{ 'Transfers' | translate: lang }}</p>
                        </div>
                        <div class="count-item">
                            <p class="value">{{ 1924140 | number }}</p>
                            <p class="name">{{ 'Holders' | translate: lang }}</p>
                        </div>
                    </div>
                </div>
                <img src="" onerror="this.src='/assets/images/nft/default-logo.png'" alt="">
            </div>
        </div>
    </div>
</section>
