.info {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    width: 100%;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    color: #282828;
    li {
        float: left;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        div {
            width: 100%;
            padding: 0 15px;
            p {
                margin-bottom: 15px;
                word-wrap: break-word;
            }
            span {
                font-size: 16px;
                color: #acacac;
            }
        }
    }
}
.tran-info-detail {
    padding: 30px 10px;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
    .tran-info {
        text-align: center;
        .tran-info-from,
        .tran-info-to {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .tran-info-icon {
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img.avatar {
                width: 50px;
                margin-bottom: 20px;
            }
        }
        .info-title {
            font-size: 14px;
        }
        .info-address {
            font-size: 14px;
            margin-top: 20px;
        }
        .info-amount {
            font-size: 18px;
            margin-top: 20px;
        }
        .nft-name {
            margin-top: 20px;
            display: inline-block;
            height: 32px;
            line-height: 32px;
            padding: 0 20px;
            background: #eef9f6;
            border-radius: 6px;
            font-size: 14px;
            font-weight: bold;
            color: rgba(0, 175, 146, 1);
        }
    }
    .nft-info {
        margin: 30px 10px 0;
        border-top: 1px solid #f2f2f2;
        .title {
            padding: 20px 40px;
            font-size: 14px;
            font-weight: 500;
            color: #7f8993;
            img {
                width: 28px;
                margin-right: 12px;
                vertical-align: middle;
            }
            a {
                color: #00af92;
                text-decoration: none;
            }
        }
        .desc {
            padding: 0 40px;
            font-size: 14px;
            font-weight: 400;
            color: rgba(91, 96, 100, 1);
            line-height: 28px;
        }
    }
}
.script {
    .script-info {
        padding: 32px;
        min-height: 180px;
        background: #fff;
        border-radius: 4px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);
        p {
            margin-bottom: 15px;
        }
    }
}
@media screen and (min-width: 870px) {
    .info {
        li {
            width: 33.33%;
            &:not(:nth-child(3n)) {
                border-right: 1px solid #eee;
            }
            &:nth-child(-n + 3) {
                border-bottom: 1px solid #eee;
            }
            .big-font-size {
                font-size: 24px;
            }
            .small-font-size {
                font-size: 14px;
            }
        }
    }
    .tran-info-detail .tran-info {
        display: flex;
        flex-direction: row;
        .tran-info-from {
            width: 45%;
        }
        .tran-info-icon {
            width: 10%;
        }
        .tran-info-to {
            width: 45%;
        }
    }
}
@media screen and (max-width: 869px) {
    .info {
        li {
            width: 50%;
            &:not(:nth-child(2n)) {
                border-right: 1px solid #eee;
            }
            &:nth-child(-n + 4) {
                border-bottom: 1px solid #eee;
            }
            .big-font-size {
                font-size: 18px;
            }
            .small-font-size {
                font-size: 14px;
            }
        }
    }
    .tran-info-detail .tran-info {
        display: flex;
        flex-direction: column;
        .tran-info-from {
            width: 100%;
            word-wrap: break-word;
        }
        .tran-info-to {
            width: 100%;
            word-wrap: break-word;
        }
        .tran-info-icon {
            margin: 20px 0;
            flex-direction: row;
            img.avatar {
                margin-bottom: 0;
            }
            img.arrow {
                transform: rotate(90deg);
            }
        }
    }
}
@media screen and (min-width: 420px) {
    .tran-info-detail {
        margin: 36px 0;
    }
    .info,
    .script {
        margin-bottom: 36px;
    }
    .info li {
        height: 150px;
    }
}
@media screen and (max-width: 419px) {
    .tran-info-detail {
        margin: 30px 0;
        .nft-info .title, .nft-info .desc {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .info li {
        width: 100%;
        height: 120px;
        &:not(:last-child) {
            border-bottom: 1px solid #eee;
        }
    }
    .info,
    .script {
        margin-bottom: 30px;
    }
}
