<article>
    <header [ngClass]="{isHome: currentPage==='/' || currentPage==='/home' || currentPage==='/tokens-nft'}">
        <nav class="pc-nav">
            <ul class="header-left">
                <li>
                    <img class="logo" src="/assets/images/logo.png" alt="logo" routerLink="/home">
                </li>
                <li routerLink="/home" [ngClass]="{active: currentPage==='/' || currentPage==='/home'}">
                    {{'Home' | translate: lang}}</li>
                <li routerLink="/blocks/page/1" [ngClass]="{active: currentPage.indexOf('/block')>=0}">
                    {{'Blocks' | translate: lang}}</li>
                <li routerLink="/transactions/page/1" [ngClass]="{active: currentPage.indexOf('/transaction')>=0}">
                    {{'Transactions' | translate: lang}}</li>
                <li routerLink="/addresses/page/1" [ngClass]="{active: currentPage.indexOf('/address')>=0}">
                    {{'Addresses' | translate: lang}}</li>
                <li class="asset-item"
                    [ngClass]="{active: currentPage.indexOf('/asset')>=0 || currentPage.indexOf('/nep5/')>=0}">
                    <span (click)="showPcAssetDropdown = !showPcAssetDropdown">{{'Assets' | translate: lang}}</span>
                    <section class="cover-bg" [ngClass]="{showDropdown: showPcAssetDropdown}"
                        (click)="showPcAssetDropdown = false"></section>
                    <ul class="cover-content" [ngClass]="{showDropdown: showPcAssetDropdown}">
                        <li (click)="showPcAssetDropdown = false" routerLink="/assets/page/1"
                            [ngClass]="{active: currentPage.indexOf('/assets/page')>=0}">
                            {{'Assets List' | translate: lang}}</li>
                        <li (click)="showPcAssetDropdown = false" [routerLink]="neoRankLink + '1'"
                            [ngClass]="{active: currentPage.indexOf(neoRankLink)>=0}">
                            {{'Neo rank' | translate: lang}}</li>
                        <li (click)="showPcAssetDropdown = false" [routerLink]="gasRankLink + '1'"
                            [ngClass]="{active: currentPage.indexOf(gasRankLink)>=0}">
                            {{'GAS rank' | translate: lang}}</li>
                    </ul>
                </li>
                <li routerLink="/tokens-nft" [ngClass]="{active: currentPage.indexOf('/tokens-nft')>=0}">Explore NFT
                </li>
            </ul>
            <ul class="header-right">
                <li class="search"><input type="text" class="over-ellipsis"
                        [placeholder]="'Block Height, Hash, Address or Transaction id' | translate: lang"
                        [(ngModel)]="searchVal" (keyup.enter)="search()"><button (click)="search()"><img
                            src="/assets/images/search.png" alt="search"></button>
                </li>
                <li class="lang"><span [ngClass]="{active: lang === 'en'}" (click)="changeLang('en')">EN</span><span
                        [ngClass]="{active: lang === 'zh'}" (click)="changeLang('zh')">中文</span>
                </li>
                <li class="net"><span [ngClass]="{active: net === 'mainnet'}"
                        (click)="changeNet('mainnet')">{{'MainNet' | translate: lang}}</span><span
                        [ngClass]="{active: net === 'testnet'}"
                        (click)="changeNet('testnet')">{{'TestNet' | translate: lang}}</span></li>
            </ul>
        </nav>
        <nav class="ipad-nav">
            <img class="logo" src="/assets/images/logo.png" alt="logo" routerLink="/home">
            <ul>
                <li routerLink="/home" [ngClass]="{active: currentPage==='/' || currentPage==='/home'}">
                    {{'Home' | translate: lang}}</li>
                <li routerLink="/blocks/page/1" [ngClass]="{active: currentPage.indexOf('block')>=0}">
                    {{'Blocks' | translate: lang}}</li>
                <li routerLink="/transactions/page/1" [ngClass]="{active: currentPage.indexOf('/transaction')>=0}">
                    {{'Transactions' | translate: lang}}</li>
                <li routerLink="/addresses/page/1" [ngClass]="{active: currentPage.indexOf('/address')>=0}">
                    {{'Addresses' | translate: lang}}</li>
                <li class="asset-item"
                    [ngClass]="{active: currentPage.indexOf('/asset')>=0 || currentPage.indexOf('/nep5/')>=0}">
                    <span (click)="showIpadAssetDropdown = !showIpadAssetDropdown">{{'Assets' | translate: lang}}</span>
                    <section class="cover-bg" [ngClass]="{showDropdown: showIpadAssetDropdown}"
                        (click)="showIpadAssetDropdown = false">
                    </section>
                    <ul class="cover-content" [ngClass]="{showDropdown: showIpadAssetDropdown}">
                        <li (click)="showIpadAssetDropdown = false" routerLink="/assets/page/1"
                            [ngClass]="{active: currentPage.indexOf('/assets/page')>=0}">
                            {{'Assets List' | translate: lang}}</li>
                        <li (click)="showIpadAssetDropdown = false" [routerLink]="neoRankLink + '1'"
                            [ngClass]="{active: currentPage.indexOf(neoRankLink)>=0}">
                            {{'Neo rank' | translate: lang}}</li>
                        <li (click)="showIpadAssetDropdown = false" [routerLink]="gasRankLink + '1'"
                            [ngClass]="{active: currentPage.indexOf(gasRankLink)>=0}">
                            {{'GAS rank' | translate: lang}}</li>
                    </ul>
                </li>
                <li routerLink="/tokens-nft" [ngClass]="{active: currentPage.indexOf('/tokens-nft')>=0}">Explore NFT
                </li>
            </ul>
        </nav>
        <nav class="mobile-nav">
            <img class="logo" src="/assets/images/logo.png" alt="logo" routerLink="/home">
            <div class="menu">
                <img src="/assets/images/menu.svg" alt="" (click)="showDropdown = !showDropdown">
                <section class="cover-bg" [ngClass]="{showDropdown: showDropdown}" (click)="hiddleMenu()">
                </section>
                <ul class="cover-content" [ngClass]="{showDropdown: showDropdown}">
                    <li (click)="hiddleMenu()" routerLink="/home"
                        [ngClass]="{active: currentPage==='/' || currentPage==='/home'}">
                        {{'Home' | translate: lang}}</li>
                    <li (click)="hiddleMenu()" routerLink="/blocks/page/1"
                        [ngClass]="{active: currentPage.indexOf('block')>=0}">
                        {{'Blocks' | translate: lang}}</li>
                    <li (click)="hiddleMenu()" routerLink="/transactions/page/1"
                        [ngClass]="{active: currentPage.indexOf('/transaction')>=0}">
                        {{'Transactions' | translate: lang}}</li>
                    <li (click)="hiddleMenu()" routerLink="/addresses/page/1"
                        [ngClass]="{active: currentPage.indexOf('/address')>=0}">
                        {{'Addresses' | translate: lang}}</li>
                    <li class="asset-item"
                        [ngClass]="{active: currentPage.indexOf('/asset')>=0 || currentPage.indexOf('/nep5/')>=0}">
                        <span
                            (click)="showMobileAssetDropdown = !showMobileAssetDropdown">{{'Assets' | translate: lang}}</span>
                        <ul class="cover-content level2" [ngClass]="{showDropdown: showMobileAssetDropdown}">
                            <li (click)="hiddleMenu()" routerLink="/assets/page/1"
                                [ngClass]="{active: currentPage.indexOf('/assets/page')>=0}">
                                {{'Assets List' | translate: lang}}</li>
                            <li (click)="hiddleMenu()" [routerLink]="neoRankLink + '1'"
                                [ngClass]="{active: currentPage.indexOf(neoRankLink)>=0}">
                                {{'Neo rank' | translate: lang}}</li>
                            <li (click)="hiddleMenu()" [routerLink]="gasRankLink + '1'"
                                [ngClass]="{active: currentPage.indexOf(gasRankLink)>=0}">
                                {{'GAS rank' | translate: lang}}</li>
                        </ul>
                    </li>
                    <li (click)="showDropdown = false" routerLink="/tokens-nft"
                        [ngClass]="{active: currentPage.indexOf('/tokens-nft')>=0}">Explore NFT</li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="content"
        [ngClass]="{isNotHome: currentPage!=='/' && currentPage!=='/home' && currentPage!=='/tokens-nft'}">
        <router-outlet></router-outlet>
    </section>

    <footer>
        <div class="lang-net">
            <div class="left">
                <div class="lang"><span [ngClass]="{active: lang === 'en'}" (click)="changeLang('en')">EN</span><span
                        [ngClass]="{active: lang === 'zh'}" (click)="changeLang('zh')">中文</span>
                </div>
            </div>
            <div class="right">
                <div class="net"><span [ngClass]="{active: net === 'mainnet'}"
                        (click)="changeNet('mainnet')">{{'MainNet' | translate: lang}}</span><span
                        [ngClass]="{active: net === 'testnet'}"
                        (click)="changeNet('testnet')">{{'TestNet' | translate: lang}}</span></div>
            </div>
        </div>
        <p>© {{copyRightYear}} neotube.io</p>
    </footer>
</article>
